
$bg: #1b1919;

$tan: #4c433f;
$tan-hover: #5b504c;
$red: #691507;
$green: #25ab2d;

$rarity-normal: #FFFFFF;
$rarity-magic: #3599ff;
$rarity-rare: #dadf44;
$rarity-unique: #ff6a00;

$img-bg-noise: url( resources/textures/ui/bg-noise.png );
$img-bg-container: url( resources/textures/ui/bg-container.png );
$img-bg-tooltip: url( resources/textures/ui/bg-tooltip.png );
$img-tooltip-header: url( resources/textures/ui/tooltip-header.png );
