
@import "_vars.scss";

Hud {
    pointer-events: visible;
    color: white;
    font-size: 16px;
    font-family: BreeSerif;
}

ItemLabel {
    background-color: rgba(black .65);
    padding: 2px 6px;
    cursor: pointer;
    transform: translate(-50% -50%);

    &:hover {
        background-color: black;
    }
}

.dungeons-panel {
    &:hover {
        pointer-events: all;
    }

    &.display-toggle {
        opacity: 0;

        &.open {
            opacity: 1;
        }
    }
}

StashPanel {
    StashCell {
        background-image: $img-bg-noise;
        box-shadow: 0 0 12px rgba(black .25);
        border: 1px solid $tan;

        &:hover {
            box-shadow: 0px 0px 0px rgba(black .15);
            border-color: $tan-hover;
        }
    }
}
