
Hud {
    pointer-events: visible;
    color: white;
    font-size: 15px;
}

ItemLabel {
    background-color: rgba(black .65);
    padding: 2px 6px;
    cursor: pointer;

    &:hover {
        background-color: black;
    }
}

.dungeons-panel {
    &:hover {
        pointer-events: all;
    }

    &.display-toggle {
        opacity: 0;

        &.open {
            opacity: 1;
        }
    }
}
