
Hud {
    pointer-events: visible;
    color: white;
    font-size: 15px;
}

.dungeons-panel {
    &:hover {
        pointer-events: all;
    }

    &.display-toggle {
        opacity: 0;

        &.open {
            opacity: 1;
        }
    }
}
